.chats{
  border: none;  
  background-color: #2e405e;
  height: 650px;
  overflow: auto;
  border-radius: 4px;
}
.service{
    border:none;  
    background-color:#111f35; 
    color: white;
    height: 650px;
    border-radius: 4px;
}
.section{
    border:none; 
    background-color:#d7dce4;
    height: 650px;
    border-radius: 4px;
}
// .seviceUser{

//     background-color:red;
// }
