.msg-room-container{
    display: flex;
    justify-content:space-between;
    cursor: pointer;
    // border-bottom:1px solid #111f35 ;
}
.logo-msg-room{
    display: flex;
    align-self:center;
    width: 20%;
    padding-left: 3%
}
.message-container{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    color: #686868;
    width: 60%;
    align-self:center;
    padding-left: 9%;
    padding: 4%;
}
.time-message{
    display: flex;
    align-self:center;
    padding-right: 2%;
    color: #686868;
    width: 20%;
}
.tourist-name{
    color: #314669;
    font-weight: bold;
    font-family: cursive;
}