.employee-autorisation{


.auto-title{

    font-family: Champagne&LimousinesThick;
    font-size: 17.5px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #111f35;
}
.auto-th{
    display: flex;
    align-items: center;
}
}
.employee-autorisation{
    overflow-y: auto;
    height: 50vh;
    margin-top: 30px;
}