@import '../../../assets/var';

.botbar{
  display: flex;
  flex-direction: row;
  width: 50%;
  position: relative;
  height:200px;
  -ms-flex-direction: row;
  align-items: flex-start
  
}

.titleMenu {
  font-size: 20px;
  text-transform: uppercase;
  position: absolute;
  top: 20%;
  left: 100px;
	background: linear-gradient(to right, #f7e200 0%, #eee 100%);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


}
.button_navigation{
  width: 70px;
  display: flex;
  position: absolute;
  top: 35%;
  left: 20px;
  justify-content: space-between;
}
