@import '../../../assets/var';

.botbar{
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  width: 50%;
  margin:30px;
  // margin-bottom: 10px;
  position: relative;
  height:200px;
  -ms-flex-direction: row;
  align-items: flex-start
  
}

// .botbar span{
//   margin-left: 20px;
// }

// .botbar .hotel-name{
//   margin:0;
//   padding:0;
//   width:150px;
//   font-size: 1.2em;
//   color: white;
// }

// .botbar button{
//   background-color: $hellodati-blue;
//   color: white; 
//   font-size: 1.35em;
//   border:none;
//   text-align: center;
//   display:flex;
//   align-content: center;
//   align-items: center;
//   padding:5px;
//   width: 140px;
//   border-radius: 50px 50px 50px 50px;
// }

// .botbar button svg{
//   margin-right: 10px;
// }

// .botbar .hotel-container{
//   display: flex;
//   flex-direction: row;
//   display: -ms-flexbox;
//   display: -webkit-flex;
//   -ms-flex-direction: row;
// }

// .titleMenu{
//   font-size: 20px;
//   position: absolute;
//   background: -webkit-linear-gradient(#f7e200 , #eee  );
//   background-clip: text;
//   -webkit-text-fill-color: transparent;
//   bottom: -30px;
//   left: -10px;
// }

.titleMenu {
  font-size: 20px;
  text-transform: uppercase;
  position: absolute;
	background: linear-gradient(to right, #f7e200 0%, #eee 100%);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 100px;

}
.button_navigation{
  margin-top: 18px;
  width: 70px;
  display: flex;
  position: absolute;

  justify-content: space-between;
}
