


.title-notif{
    border-bottom: 1px solid #f2f4f9;
    padding: 2%;
    color: #686868;
}
.notif-box{
    height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;

}


.view-all{
    border-top: 1px solid #f2f4f9;
    padding: 4%;
    display: flex;
    justify-content: center;
    color: #3578E5;
    cursor: pointer;
}