@import "../../assets/var";

.tourist-items {
  overflow-y: hidden;
  overflow-x: hidden;

  thead th {
    top: 0;
    background-color: #374a68;
    color: #ffffff;
    font-weight: normal;
    width: 100px;
  }

  // .previous,
  // .next {
  //   background-color: #374A68;
  //   height: 30px;
  //   width: 50px;
  //   border-radius: 20px;
  //   border: none;
  //   cursor: pointer;

  //   span {
  //     color: yellow;
  //     font-size: 20px;
  //     margin-left: 8px;
  //     margin-top: -3px;
  //   }
  // }

  .arrows-container {
    position: relative;
    left: 21px;
  }

  .previous-arrow,
  .next-arrow {
    cursor: pointer;
    font-size: 30px;
    user-select: none;
    -webkit-user-select: none;
  }

  .previous-arrow:hover,
  .next-arrow:hover {
    color: yellow;
  }

  .previous-arrow {
    margin-right: 15px;
  }

  .pagination {
    font-size: 12px;
    position: relative;
    left: 29px;
    bottom: 7px;
    user-select: none;
    -webkit-user-select: none;
  }
}

table {
  margin-top: 20px;
}

.tourist-items th,
td {
  padding: 11px;
  position: relative;
  height: 100%;
  color: #9f9f9f;
  max-width: 100px;
  word-wrap: break-word;
}

#first {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#last {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.tourist-items tbody tr:nth-child(even) {
  background: #f6f6f6;
}

.tourist-items table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  text-align: center;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}




.icons {
  span {
    // height: 10px;
    // width: 10px;
    display: inline-block;
    margin-right: 10px;
    border-radius: 50%;
  }

  .popup_icon {
    position: relative;
    left: 0px;
  }

  .edit_icon {
    position: relative;
    left: 20px;
  }

  img {
    margin: 7px;
    width: 15px;
    height: 18px !important;
  }
}

.tourist_image {
  margin-right: 7px;
}

.tourist-search-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tourist-search {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  display: -webkit-flex;
  width: 73%;
  background-color: $hellodati-blue;
  padding: 10px;
  align-items: center;
  box-sizing: border-box;
  color: white;
  border-radius: 5px;
  flex-wrap: wrap;
.nameSearch{
  width: 15%;
}
.inputs{
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
  .inputs * {
    margin-left: 15px;
 
  }
}

.tourist-search input {
  background-color: rgb(54, 73, 105);
  height: 30px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin: 0;
  padding-left: 20px;
  color: white;
  width: 150px;
}

.tourist-search input::placeholder {
  color: #879bad;
}

.tourist-search p {
  margin: 0;
  padding: 0;
}

.tourist-header p {
  padding: 0;
  margin: 0;
  display: inline;
  margin-right: 20px;
}

.tourist-Link-ajout {
  display: flex;
  justify-content: space-between;
  background-color: rgb(54, 73, 105);
  height: 50px;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  padding: 5px;
  color: white;
  width: 25%;
  background-color: rgb(0, 168, 224);

  :active,
  :link,
  :visited {
    color: white;
    text-decoration: none;
  }

  cursor: pointer;
}

@media(max-width:1740px){
 .tourist-search {
   width: 82%;
 }
 .tourist-Link-ajout{
   width: 15%;
 }
}
@media(max-width:1570px){
  .tourist-search {
    width: 88%;
  }
  .tourist-Link-ajout{
    width: 10%;
  }
 }
 @media(max-width:1470px){
   .tourist-search-header{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  
  .tourist-search {
    width: 88%;
    flex-wrap: nowrap;
    .nameSearch{
      display: none;
    }
    .inputs{
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      justify-content: normal;
      input{
        width: 20%;
      }
    }
  }
  .tourist-Link-ajout{
    width: 10%;
    a{
      display: none;
    }
  }
 }